<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/product.css">
    <script src="/scripts/event.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="product-section">
        <div class="product-container row">
            <div class="image col">
                <div class="image-list col">
                    <div class="pic-box">
                        <img src="/images/products/Balenciaga/detail/3/overall-1.png" alt="" id="pic-1" onclick="changeSrcBalenciaga('detail','pic-1')">
                    </div>
                    <div class="pic-box" >
                        <img src="/images/products/Balenciaga/detail/3/overall-2.png" alt="" id="pic-2" onclick="changeSrcBalenciaga('detail','pic-2')">
                    </div>
                    <div class="pic-box" >
                        <img src="/images/products/Balenciaga/detail/3/overall-3.png" alt="" id="pic-3" onclick="changeSrcBalenciaga('detail','pic-3')">
                    </div>
                </div>
                <div class="image-detail col">
                    <div class="detail-pic">
                        <img src="/images/products/Balenciaga/detail/3/overall-1.png" alt="" id="detail">
                    </div>
                </div>
            </div>
            <div class="description col">
                <div class="size-section row">
                    <div class="text-area">
                        <h1 class="size-description">SIZE</h1>
                        <a href="" class="size-chart">size chart</a>
                    </div>
                    <div class="size-area">
                        <div class="size">39</div>
                        <div class="size">40</div>
                        <div class="size">41</div>
                        <div class="size">42</div>
                        <div class="size">43</div>
                        <div class="size">44</div>
                        <div class="size">45</div>
                        <div class="btn-add-to-cart">Add to cart</div>
                    </div>
                </div>
                <div class="detail-description row">
                    <h1>Description</h1>
                    <div class="quote">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, maiores facilis?
                            Eveniet adipisci</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>