.navbar {
    z-index: 9999;
}

.nav-link {
    font-size: 22px;
    color: gainsboro;
    font-weight: 600;
    position: relative;
}

.nav-item {
    margin: 15px;
}

.navbar-brand img {
    width: 150px;
    z-index: 9999;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: darkcyan;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.5s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: darkcyan;
}

#biPerson a,
#biBag a {
    font-size: 28px;
    margin-top: -10px;
}

.hero {
    position: relative;
}


.main-banner-section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featuredSneaker {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.featured-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 15px;
}

.imgCol,
.banner-container {
    transition: 0.5s;
    position: relative;
    flex: 1 1 1;
}

.imgCol {
    width: 40%;
}

.imgCol img,
.banner-container img {
    width: 100%;
    height: auto;
}

.layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    text-align: center;
    transition: 0.7s;
    color: gainsboro;
}

.layout h3 {
    font-weight: 600;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    opacity: 0;
}

.layout:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.layout:hover .BTS {
    bottom: 46%;
    opacity: 1;
}

.layout:hover {
    background: rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

.product-section {
    margin-top: 120px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.product-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    flex: 1 1 auto;
}

.product {
    width: 18%;
    min-width: 50px;
    padding: 10px 12px;
    padding-bottom: 75px;
    border: solid 1px rgba(172, 172, 172, 0.35);
    border-radius: 20px;
    cursor: pointer;
    margin: 25px;
    transition: 0.5s;
    position: relative;
    flex: 1 1 auto;
}

.product:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.55);
}

.balmain-product:hover>img {
    transform: scale(1.3);
}

.balenciaga-product:hover>img {
    transform: scale(1.4);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: 0.5s;
}

.product a {
    text-decoration: none;
    color: #1a1a1a;
}

.product-description h5 {
    font-size: 22px;
    padding-top: 10px;
    color: #1a1a1a;
}

.product-description i {
    font-size: 18px;
    color: rgba(243, 181, 25);
}

.cart,
.bi-x-lg {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #e8f6ea;
    border: solid 1px whitesmoke;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: 0.3s;
    font-size: 26px;
}

.bi-x-lg {
    display: none;
}

.cart:hover,
.bi-x-lg:hover {
    background-color: bisque;
}


.heart {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #e8f6ea;
    border: solid 1px whitesmoke;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: 0.3s;
    font-size: 26px;
}

.heart:hover {
    background-color: palevioletred;
}

footer {
    margin-top: 2%;
    background: #343434;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

footer h4 {
    color: silver
}

footer p {
    color: rgb(131, 131, 131);
    line-height: 2;
}

footer .container-fluid {
    width: 80%;
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

#about-us,
#follow {
    padding-left: 17.5%;
}

#follow {
    padding-bottom: 20px;
}

.description {
    width: 50%;
}

.description ol {
    padding-left: 0;
    color: rgb(131, 131, 131);
    line-height: 2;
    list-style: none;
}

.description ol i {
    padding-right: 20px;
}

.description a {
    justify-content: space-between;
    margin-right: 3%;
    font-size: 26px;
    color: rgb(131, 131, 131);
    border-radius: 10px;
    padding: 7px;
    transition: 0.2s;
}

.bottom-bar p {
    background-color: #f18930;
    color: wheat;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
}

.description a:hover {
    background: #1a1a1a;
}

.bannerSection {
    margin-top: 120px;
    text-align: center;
    position: relative;
}

.banContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    position: relative;
}

.brand img {
    width: 100%;
    height: 230px;
}

.brand {
    cursor: pointer;
    transition: 0.3s;
}

.brand:hover {
    transform: scale(0.95);
}

.dropdown-item:hover {
    background: none;
}

.special-detail, .suggestion-detail {
    position: relative;
    z-index: 9000;
    width: 75%;
    height: 750px;
    display: none;
}

.sale-off-section {
    width: 100%;
    /*background-color: black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sale-off-container {
    width: 80%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sale-off-banner {
    margin-top: 50px;
    width: 1200px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.sale-off-banner img {
    width: 100%;
    height: auto;
}

.sale-off-item {
    width: 100%;
    height: 1300px;
    display: none;
}

.btn-section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.btn-click-sale-off {
    position: relative;
    width: 18.5%;
    background-color: #242428;
    color: white;
    text-align: center;
    border: solid 3px white;
    cursor: pointer;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 1);
    user-select: none;
    margin-left: 6.7%;
    margin-top: -19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-click-sale-off p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 17px;
    margin-bottom: 17px;
    flex: 1 1 auto;
}

.btn-click-sale-off:hover {
    transform: scale(1.07);
    background-color: brown;
}

.contact-section {
    display: none;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    z-index: 9999;
}

.contact-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-sale-off-here {
    position: relative;
    top: -11.5cm;
}

@media (max-width: 1400px){
    .special-detail, .suggestion-detail {
        position: relative;
        z-index: 9000;
        width: 75%;
        height: 650px;
        display: none;
    }
    .sale-off-item {
        height: 1150px;
    }

    .bannerSection{
        margin-top: 35px;
    }
}


@media (max-width: 1250px){
    .sale-off-item {
        height: 980px;
    }
    
    .bannerSection{
        margin-top: 35px;
    }
}

/*main responsive*/
@media (max-width: 1200px) {
    .nav-link {
        font-size: 20px;
    }

    .nav-item {
        margin: 0;
        margin-left: 30px;
        margin-top: 25px;
    }

    .btn-close {
        position: fixed;
        top: 0.7cm;
    }

    .nav-link:hover::after {
        width: 0;
    }

    footer {
        font-size: 14px;
    }

    #about-us,
    #follow {
        padding-left: 0;
    }

    .description a {
        font-size: 24px;
    }

    .description {
        width: 100%;
    }

    .layout h3 {
        font-size: 22px;
    }

    .product {
        width: 20%;
        padding-bottom: 40px;
        margin: 10px;
    }

    .product:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    }

    .product-section {
        padding: 15px 15px;
    }

    .product-description h5 {
        font-size: 16px;
        padding-top: 10px;
        color: #1a1a1a;
    }

    .product-description h4 {
        font-size: 16px;
        padding-top: 10px;
        color: #1a1a1a;
    }

    .product-description i {
        font-size: 14px;
        color: rgba(243, 181, 25);
    }

    .cart,
    .heart,
    .bi-x-lg {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50px;
        font-size: larger;
    }

    .brand {
        width: 50%;
    }

    .brand img {
        width: 50%;
        height: auto;
    }

    .balmain-product:hover>img {
        transform: scale(1.25);
    }

    .balenciaga-product:hover>img {
        transform: scale(1.25);
    }
    
    .btn-click-sale-off p{
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .special-detail, .suggestion-detail {
        top: 35px;
    }
}

@media (max-width: 1000px){
    .product-container{
        width: 98%;
    }

    .special-detail, .suggestion-detail {
        top: 15px;
    }

    .sale-off-item {
        height: 870px;
    }

    .sale-off-item {
        height: 2870px;
    }
    
    .contact-container {
        margin-top: -15px;
        height: 400px;
    }
}

@media (max-width: 890px) {
    .special-detail, .suggestion-detail {
        top: -20px;
        width: 75%;
        height: 550px;
    }

    .btn-click-sale-off{
        border: solid 1px gainsboro;
        box-shadow: 9px 9px 3px rgba(0, 0, 0, 1);
    }

    .btn-click-sale-off p{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 9px;
    }
}

@media (max-width: 852px){
    .contact-container {
        height: 600px;
    }
}

@media (max-width: 750px){
    .special-detail, .suggestion-detail {
        position: relative;
        top: -30px;
        z-index: 9000;
        width: 100%;
        height: 500px;
        display: none;
    }

    .product-section{
        padding: 15px 15px;
    }

    .product-container{
        width: 80%;
    }

    .product {
        width: 30%;
        padding: 6px 8px;
        margin: 20px;
        padding-bottom: 40px;
    }

    .product img{
        scale: 1.07;
    }

    .product-description h5 {
        font-size: 18px;
        padding-top: 0;
        color: #1a1a1a;
    }

    .product-description h4 {
        font-size: 18px;
        padding-top: 5px;
        color: #1a1a1a;
    }

    .product-description i {
        font-size: 18px;
        color: rgba(243, 181, 25);
    }

    .btn-click-sale-off p{
        font-size: 12px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .sale-off-item {
        height: 2200px;
    }

    .bannerSection{
        margin-top: 15px;
    }
}

@media (max-width: 711px){
    .special-detail, .suggestion-detail {
        position: relative;
        top: -30px;
        z-index: 9000;
        width: 100%;
        height: 1350px;
        display: none;
    }
}

/*break point*/
@media (max-width: 600px) {

    .product-section{
        padding: 7px 7px;
    }

    .product-container{
        width: 80%;
    }

    .product {
        width: 30%;
        padding: 6px 8px;
        margin: 10px;
        padding-bottom: 40px;
    }

    .product-description h5 {
        font-size: 12px;
        padding-top: 10px;
        color: #1a1a1a;
    }

    .product-description h4 {
        font-size: 12px;
        padding-top: 5px;
        color: #1a1a1a;
    }

    .product-description i {
        font-size: 12px;
        color: rgba(243, 181, 25);
    }

    .cart,
    .heart,
    .bi-x-lg {
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-radius: 50px;
        font-size: 16px;
    }

    footer {
        font-size: 12px;
        font-weight: 400;
    }

    .description a {
        font-size: 18px;
    }

    .btn-click-sale-off{
        border: solid 1px gainsboro;
        box-shadow: 8px 8px 3px rgba(0, 0, 0, 1);
    }
    
    .btn-click-sale-off p{
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 0;
    }
    
    .sale-off-item {
        height: 2100px;
    }

    .bannerSection{
        margin-top: 35px;
    }
}

@media (max-width: 450px){
    .btn-click-sale-off{
        width: 25%;
    }

    .btn-click-sale-off p{
        font-size: 8px;
    }

    .sale-off-item {
        height: 1950px;
    }

    .bannerSection{
        margin-top: 35px;
    }
}